services:
  app:
    build: .
    container_name: app
    restart: always
    ports:
      - "3100:3000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:17
    container_name: db
    restart: always
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
